.navbar {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  align-items: center;
}
.logo img {
  width: 30%;
  height: 60%;
  margin-left: 40%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
body {
  background-image: linear-gradient(red, yellow);
  background-repeat: no-repeat;
}
.landing-page {
padding-left: 20%;

padding-right : 20%;

border: solid 3px black;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 
  
}


