.nyjimg {
  height: 15%;
  width: 20%;
  margin-left: 35%;
}
.born-a-crime {
  margin-left: 30%;
}
body {
  font-size: x-large;
  margin-left: 5%;
  margin-right: 5%;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
}
